@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&display=swap');
:root{
    --color-primary : #FF6363;
    --color-ligth : #F2F2F2;
    --color-warning : #F8B400;
    --color-danger : #E02401;
    --color-dark : #1b1b1b;
    --color-secondary : #F806CC;
}

* {
    font-family: 'Maven Pro', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
}



section {
    min-height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
}

.container{
    text-align: center;
}

.container h1{
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
    color: var(--color-ligth);
    background: var(--color-dark);
    padding: 1rem;
    font-size: 40px;
    border-radius: 15px;
    margin-bottom: 2.5rem;
}

.btn {
    padding: 0.6rem;
    border-radius: 0.3rem;
    border: none;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    transition: all 0.2s linear;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    padding: 0.75rem 1.25rem;
}

.btn-primary-outline {
    background: transparent;
    border: 3px solid var(--color-primary);
    color: var(--color-dark);
}

.btn-primary-outline:hover{
    background: var(--color-primary);
    color: var(--color-ligth);
}